<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../js/datatables/datatables.min.css">
    <script src="../../../js/datatables/datatables.js"></script>
    <link rel="stylesheet" href="../../css/checkboxes.css">
    <link rel="stylesheet" href="../../css/inquiry-readings-stp.css">

</head>

<body>
    <div class="card card-default mt-2">
        <div class="card-header">
            <h2 class="text-center">Импортирани Мерения - СТП</h2>
        </div>
        <div class="card-body">
            <form action="" method="GET">
                <div class="row justify-content-around">
                    <div><span class="text-heading"> От дата</span> <input id="fromDate" name="fromDate" class="ml-2"
                            type="date" type="search"></input>
                    </div>
                    <div><span class="text-heading"> До дата </span><input id="toDate" name="toDate" class="ml-2"
                            type="date" type="search"></input>
                    </div>
                    <span class="text-heading mt-3"> Вид ЕРП:</span>
                    <label class="checkbox">
                        <input type="checkbox" name="erp_type" value="evn" id="evn" checked>
                        <span>EVN</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="erp_type" value="cez" id="cez" checked>
                        <span>ЧЕЗ</span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="erp_type" value="energoPRO" id="energoPRO" checked>
                        <span>ЕнергоПРО</span>
                    </label>
                </div>
                <div class="row justify-content-around my-3">
                    <div><span class="text-heading"> Име на клиент </span><input id="nameOfClient" autocomplete="off"
                            list="names" name="clientNames" class="ml-2" type="search"></input>
                        <datalist id="names">
                        </datalist>
                    </div>
                    <div><span class="text-heading"> Идентификационен код </span><input id="clientID" autocomplete="off"
                            name="clientID" class="ml-2" list="idList" type="search"></input>
                        <datalist id="idList">
                        </datalist>
                    </div>
                </div>
                <div class="row justify-content-center"><button type="submit"
                        class="btn-primary btn-lg ml-3">Търсене</button></div>
            </form>
        </div>
    </div>
    <div class="row justify-content-around mb-3">
        <button id="preview-readings" class="btn-success btn-lg">
            Преглед
        </button>
        <button id="invoiceBTN" class="btn-warning btn-lg">Фактуриране</button>
        <button id="select-rows" class="btn-primary btn-lg">Селектиране на всички редове</button>
    </div>
    <table id="list-readings" class="display">
        <thead>
            <tr>
                <th>ID на отчет</th>
                <th>Клиентски номер</th>
                <th>Идентификационен код</th>
                <th>Име на клиент</th>
                <th>Период на отчетност от</th>
                <th>Период на отчетност до</th>
                <th>Часова зона</th>
                <th>Количество</th>
                <th>Стойност в лв.</th>
                <th>Тип на документа</th>
                <th>ЕРП</th>
                <th>Детайли</th>
            </tr>
        </thead>
        <tbody id="tBody">
        </tbody>

    </table>

    <script src="../js/invoicing/list-readings.js"></script>
</body>

</html>