<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="../../../css/imports-stp.css">
    <link rel="stylesheet" href="../../../css/imports.css">
    <title>Импорт - СТП</title>
</head>

<body>
    <div class="text-center container">
        <div class="card-default card">
            <div class="card-header">
                <h2 class="mb-3">Импортиране на данни - Почасови</h2>
            </div>
            <div class="card-body">
                <h3>Избери тип:</h3>
                <hr>
                <div class="row justify-content-center">
                    <label class="radio mr-5">Мерене
                        <input type="radio" id="hour-reading" name="importDataType">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio mr-5" data-toggle="tooltip" data-placement="right" container="body" title
                        data-original-title="Името на файла трябва да е във формат - дд-мм-гггг.">График
                        <input type="radio" id="graph" name="importDataType">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <hr>
                <h2>Избери ЕРП:</h2>
                <hr>
                <div class="row justify-content-center">
                    <label class="radio mr-5">EVN
                        <input type="radio" id="evn" name="data-erp">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio mr-5">ЧЕЗ
                        <input type="radio" id="cez" name="data-erp">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio">ЕнергоПРО
                        <input type="radio" id="energo-pro" name="data-erp">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <hr>
                <div class="form-group invisible" id="hourly-import">
                    <label for="exampleFormControlTextarea1">Плъзни документа тук</label>
                    <i class="fas fa-arrow-down"></i>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <i class="fas fa-upload"></i>
                </div>
                <div class="invisible">
                    <label class="labelBtn" for="file">Избери файл</label>
                    <input class="inputfile" type="file" id="upload-excel" name="filename">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
    <script src="../../../../js/helper-functions/bootstrap-tooltips.js"></script>
    <script src="../../../../js/helper-functions/toastr-notifications.js"></script>
    <script src="../../../../js/imports/hourly.js"></script>
</body>

</html>