<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="../../../css/imports-stp.css">
    <title>Document</title>
</head>

<body>
    <div class="container text-center">
        <h2 class="mb-3">Фактуриране</h2>
        <h2>Избери ЕРП: </h2>
        <div class="row justify-content-center">
            <label class="radio mr-5" data-toggle="tooltip" data-placement="left" container="body"
            data-original-title="При избиране на тази опция има възможност за импорт на мерения + стп почасови мерения, ако имат профил клиентите">EVN
                <input type="radio" id="evn" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="radio mr-5">CEZ
                <input type="radio" id="cez" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="radio">Energo-pro
                <input type="radio" id="energo-pro" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>

        <body>
            <div class="form-group" id="input-excel">
                <label for="exampleFormControlTextarea1">Плъзни документа тук</label>
                <i class="fas fa-arrow-down"></i>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <i class="fas fa-upload"></i>
            </div>
            <div class="clients-no-profile"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
    <script src="../../../../js/helper-functions/toastr-notifications.js"></script>
    <script src="../../../../js/helper-functions/bootstrap-tooltips.js"></script>
    <script src="../../../../js/imports/importSTP.js"></script>
</body>

</html>