<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../js/datatables/datatables.min.css">
    <script src="../../../js/datatables/datatables.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-5 text-center">Клиент:</h1>
    </div>

    <table id="clients" class="display">
        <thead>
            <tr>
                <th>ID на отчет</th>
                <th>Период на отчетност от</th>
                <th>Период на отчетност до</th>
                <th>Часова зона</th>
                <th>Стойност в лв.</th>
                <th>Тип на документа</th>
                <th>ЕРП</th>
                <th>Детайли</th>
            </tr>
        </thead>
        <tbody id="tBody">
        </tbody>
    </table>
    <script src="../../../js/STP listing/clients.js"></script>
</body>

</html>