<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../js/datatables/datatables.min.css">
    <script src="../../../js/datatables/datatables.js"></script>
    <link rel="stylesheet" href="../../css/checkboxes.css">
    <title>Document</title>
</head>

<body>
    <h1 class="text-center mb-5">Мерения - СТП по часови</h1>

    <form action="" method="GET">
        <div class="row justify-content-center">
            <div class="col-md-4"> <span class="text-heading"> Дата </span><input id="date" name="date" class="ml-2"
                    type="date" type="search"></input>
            </div>
            <div class="col-md-4"><span class="text-heading">Име на клиент</span> <input id="nameOfClient" list="names"
                    name="name" class="ml-2" type="search"></input>
                <datalist id="STP-hour-readings-clients">
                </datalist>
            </div>
        </div>
        <div class="row my-3 justify-content-center">
            <div class="col-md-5"><span class="text-heading"> Идентификационен код </span><input id="clientID"
                    name="clientID" class="ml-2" list="idList" type="search"></input>
                <datalist id="idList">
                </datalist>
            </div>
            <span class="mt-3 text-heading">Вид ЕРП:</span>
            <label class="checkbox">
                <input type="checkbox" name="erp_type" value="evn" checked>
                <span>ИВН</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" name="erp_type" value="cez" checked>
                <span>ЧЕЗ</span>
            </label>
            <label class="checkbox">
                <input type="checkbox" name="erp_type" value="energoPRO" checked>
                <span>ЕнергоПРО</span>
            </label>
            <div class="col-md-1"></div><button type="submit" class="btn-primary btn-lg ml-3">Търсене</button>
        </div>
        </div>
    </form>
    <div class="container clients text-center mb-5">
        <table id="hour-readings-table" class="display">
            <thead>
                <tr>
                    <th>ID на мерене</th>
                    <th>Идентификационен код на клиент</th>
                    <th>Име на клиент</th>
                    <th>Дата на мерене</th>
                    <th>ЕРП</th>
                    <th>Общ товар</th>
                </tr>
            </thead>
            <tbody id="tBody">
            </tbody>
        </table>
    </div>
    <script src="../../../../js/readings-menu/STP-hour-readings.js"></script>
</body>

</html>