<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../../css/detailsSTPclients.css">
</head>


<body>
    <header>
        <div class="container">
            <h1 class="text-center mb-5">Детайли за клиент:</h1>
            <div class="row">
                <label class="col-md-4">Име на клиент</label>
                <input type="text" class="col-md-8" disabled>
            </div>
            <div class="row">
                <label class="col-md-4">Идентификационен код</label>
                <input type="text" class="col-md-8" disabled>
            </div>
            <div class="row">
                <label class="col-md-4">Профил ID</label>
                <input type="text" class="col-md-8">
            </div>

        </div>
        <div class="row">
            Производител
            <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree" name="check" />
                <label for="squaredThree"></label>
            </div>
        </div>
        <button onclick="goBack()" class="btn-lg btn-success pull-right ">Върни се</button>
        <button class="btn-lg btn-warning pull-right mr-5">Запази</button>

    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="../../../../js/STP listing/listSTPClientDetails.js"></script>
</body>