<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/datatables.min.css">
    <script src="/datatables.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-5 text-center">Клиент:</h1>
    </div>
    <div class="container mb-4">
        <a href="/users/logout"> <button class="btn-lg btn-danger float-right">Излизане</button></a>
        <a href="javascript:history.back()"> <button class="btn-lg btn-success float">Връщане</button></a>
    </div>

    <table id="clients" class="display">
        <thead>
            <tr>
                <th>ID на отчет</th>
                <th>Период на отчетност от</th>
                <th>Период на отчетност до</th>
                <th>Стойност в лв.</th>
                <th>Тип на документа</th>
                <th>Детайли</th>
            </tr>
        </thead>
        <tbody id="tBody">
        </tbody>
    </table>
    <script src="/js/clients.js"></script>
</body>

</html>