<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" name="description"
        content="Graph Project for importing and exporting excel data, load datatable client info, make predictions and charts.">
    <title>Graph Project</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../../css/bootstrap.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../../AdminLTE-master/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet"
        href="../../../../AdminLTE-master/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../../../AdminLTE-master/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="../../../../AdminLTE-master/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../../AdminLTE-master/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../../../../AdminLTE-master/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../../../../AdminLTE-master/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="../../../../AdminLTE-master/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <link rel="stylesheet" href="../../../../AdminLTE-master/css/layout.css">
    <link rel="shortcut icon" href="../../../AdminLTE-master/images/favicons/favicon.ico" type="image/x-icon">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div class="row">
            <!-- Navbar -->
            <div class="col-md-3">
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="/dashboard" class="nav-link">Home</a>
                        </li>
                    </ul>
            </div>
            <div class="col-md-6 mt-3">
                <!-- SEARCH FORM -->
                <form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 mt-3">
                <a href="/users/logout" class="btn-lg ml-3 btn-danger">Logout</a>
            </div>
        </div>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link">
                <img src="../../../../AdminLTE-master/images/logoDatavend.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Graph Project</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="#" class="d-block"><%=name%></a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Импорти
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/users/import/stp" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>СТП</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/users/import/hourly" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Почасови</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/users/import/invoicing" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Фактуриране</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/users/import/STP/HourPredictions" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>СТП прогнози</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/users/import/stp-hour-readings" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>СТП по часови</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-clock"></i>
                                        <p>
                                            Мерения по часове
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="/users/import/hour-readings/CEZ" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>ЧЕЗ</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/users/import/hour-readings/evnORenergoPRO" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>ИВН / ЕнергоПРО</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                        </li>
                        <li class="nav-item">
                            <a href="/users/import/profiles" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Профили</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/import/graphs" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Графици</p>
                            </a>
                        </li>
                    </ul>
                    </li>
                    <li class="nav-item"> <a href="/users/clients" class="nav-link">
                            <i class="fas fa-users"></i>
                            <p class="ml-2">Клиенти</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-file-alt"></i>
                            <p>
                                Мерене
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a id="readings-stp-href" href="/users/list/readings" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>СТП</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="readings-href" href="/users/list/hour-readings" class="nav-link">
                                    <i class="fas fa-clock"></i>
                                    <p>По часови</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-chart-line"></i>
                            <p>
                                Графици
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a id="stp-graph-readings-href" href="/users/list/stp-graph-readings/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>СТП</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="graph-readings-href" href="/users/list/graph-readings/" class="nav-link">
                                    <i class="fas fa-clock"></i>
                                    <p>По часови</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-file-invoice"></i>
                            <p>
                                Фактуриране
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a id="invoicing-readings-href" href="/users/invoicing" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>СТП</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-file-export"></i>
                            <p>
                                Справка
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a id="inquiry-readings-href" href="/users/inquiry/readings" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Мерене</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="inquiry-graphs-href" href="/users/inquiry/graphs" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Графици</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="inquiry-imbalances-href" href="/users/inquiry/imbalances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Небаланси</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>


    <div class="container mt-3">
        <%- body %>
    </div>

    <script src="../../../../AdminLTE-master/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="../../../../AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../AdminLTE-master/plugins/chart.js/Chart.min.js"></script>
    <script src="../../../../AdminLTE-master/plugins/sparklines/sparkline.js"></script>
    <script src="../../../../AdminLTE-master/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="../../../../AdminLTE-master/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="../../../../AdminLTE-master/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="../../../../AdminLTE-master/plugins/moment/moment.min.js"></script>
    <script src="../../../../AdminLTE-master/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="../../../../AdminLTE-master/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js">
    </script>
    <script src="../../../../AdminLTE-master/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="../../../../AdminLTE-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="../../../../AdminLTE-master/dist/js/adminlte.js"></script>
    <script src="../../../../AdminLTE-master/dist/js/pages/dashboard.js"></script>
    <script src="../../../../AdminLTE-master/dist/js/demo.js"></script>
    <script src="../../../../js/menu/admin-lte-menu.js"></script>
</body>

</html>