input:not([type='date']):not([type='search']):not([type='checkbox']) {
    width: 100%;
    background: none;
    border: 1px solid rgb(97, 80, 80);
    border-radius: 3px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 22px;
    color: black;
    background-color: white;
    text-align: center;
}

.nav-tabs .nav-link{
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.nav-tabs .nav-link:hover {
    color:white !important;
    border: 1px solid #3d5af1;
    background-color: #9c1de7
}

ul.nav-tabs a.nav-link {
    color: black !important;
}

input:hover:not([type='date']) {
    border: 1px solid #9c1de7 !important;
}

input[type='date']:hover {
    border: 2px solid #ff304f !important;
    border-radius: 5px;
}

label.red-border {
    border: 2px solid transparent;
}

.card-body select {
    border: 1px solid rgb(97, 80, 80);
}

.card-body input,
.card-body select:hover {
    border: 1px solid blue;
}

label.red-border:hover {
    border: 2px solid #fc85ae;
}


label:not(.form-check-label):not(.custom-file-label) {
    font-size: 25px;
    font-weight: normal
}


.squaredThree {
    width: 20px;
    position: relative;
    margin: 8px auto;
}

.squaredThree label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label:after {
    content: '';
    width: 19px;
    height: 7px;
    position: absolute;
    top: 10px;
    left: 8px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    opacity: 50%;
}

.squaredThree input[type=checkbox] {
    visibility: hidden;
}

.squaredThree input[type=checkbox]:checked+label:after {
    opacity: 1;
}

body>div.container.mt-3>header>div.row>div>label {
    padding: 15px
}

body>div.container.mt-3>header>div.row {
    margin-left: 70%
}

input:not([type='date']):not([type='search']):not([type='checkbox'])::-webkit-calendar-picker-indicator {
    display: none;
}

ul.nav-tabs a.nav-link {
    color:black !important;
}

.nav-tabs .nav-link:hover {
    border: 1px solid blueviolet;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: black;
}
 
 
.fc-content .fc-time {
    display: none !important;
}

.fc-content span.fc-time {
    display: inline-block !important;
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
    padding: 15px 1px !important;
}

a.fc-more {
    visibility: hidden;
}

a.fc-more::after {
    visibility: visible;
    content: 'Има мерене';
    background-color: #2d6cdf;
    white-space: nowrap;
    border-radius: 10px;
    position: relative !important;
    left: -8%;
    top: -26px;
    padding: 10px
}

.graphRow-calendar a.fc-more::after {
    content: 'Има график';
}

#calendar-imbalance a.fc-more::after {
    content: 'Има небаланс';
    left: -22%;
}

.btn-primary {
    padding: 5px 10px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: red;
}

input:focus+.slider {
    box-shadow: 0 0 1px red;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #ff304f;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: white;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.switch-input:checked~.switch-label {
    background: #775ada;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked~.switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label,
.switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}