.inputfile {
    display: none;
}

.labelBtn:before,
.labelBtn:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}

.labelBtn,
.labelBtnProfile {
    cursor: pointer;
    color: white;
    height: 55px;
    width: 180px;
    background-color: #3d5af1;
    border-radius: 4px;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.labelBtn:hover,
.labelBtnProfile:hover {
    background-color: #482ff7;
}

textarea{
    margin:auto;
    width:90% !important;
}

.form-group{
    margin-bottom:0;
}