<table id="exportTable">
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <tr>
        <td>INFO1</td>
        <td> INFO2
        </td>
        <td>INFO3</td>
    </tr>
    <tr>
        <td>INFO1</td>
        <td> INFO2
        </td>
        <td>INFO3</td>
    </tr>
    <tr>
        <td>INFO1</td>
        <td> INFO2
        </td>
        <td>INFO3</td>
    </tr>
</table>

<button onclick="exportTableToExcel('exportTable')" class="btn btn-primary">Export Excel Data</button>
<script src="../../../../js/exportFunctions/exportTable.js"></script>
<script src="../../../../js/exports/inquirySTP.js"></script>