<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href='../../../../../AdminLTE-master/plugins/fullcalendar/main.css' rel='stylesheet' />
    <link href='../../../../../AdminLTE-master/plugins/fullcalendar-daygrid/main.css' rel='stylesheet' />
    <link href='../../../../../AdminLTE-master/plugins/fullcalendar-timegrid/main.css' rel='stylesheet' />
    <script src='../../../../../AdminLTE-master/plugins/fullcalendar/main.js'></script>
    <script src='../../../../../AdminLTE-master/plugins/fullcalendar-daygrid/main.js'></script>
    <script src="../../../../../../AdminLTE-master/plugins/fullcalendar-timegrid/main.js"></script>
    <link rel="stylesheet" href="../../../../../AdminLTE-master/css/custom-calendar.css">
    <link rel="stylesheet" href="../../../../css/hour-readings-daily.css">
    <link rel="stylesheet" href="../../../../css/clients-info.css">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Мерения по часове за id:</h1>
    <label class="switch">
        <input class="switch-input" type="checkbox" checked />
        <span class="switch-label" data-on="Календар" data-off="Графики"></span>
        <span class="switch-handle"></span>
    </label>
    <div class="row calendar-daily">
        <div id="calendar" class="col-md-10">
        </div>
        <div id="legend" class="col-md-2">
            <h2 class="text-center mb-3"><i class="fas fa-tags"></i>Легенда</h2>
            <ul>
                <li class="text-primary mb-3">Синъо: Настоящи мерения</li>
                <li class="text-danger">Червено: Нови мерения</li>
            </ul>
        </div>
    </div>
    <div class="row chart-daily">
        <label class="switch ml-3">
            <input class="switch-input" type="checkbox" checked />
            <span class="switch-label" data-on="Линия" data-off="Бар"></span>
            <span class="switch-handle"></span>
        </label>
        <canvas id="daily-hour-readings-chart" class="mb-5" width="400" height="400"></canvas>
    </div>
    <script src="../../../../js/readings-menu/list-readings-stp.js">
    </script>
</body>

</html>