<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href='../../../../../AdminLTE-master/plugins/fullcalendar/main.css' rel='stylesheet' />
    <link href='../../../../../AdminLTE-master/plugins/fullcalendar-daygrid/main.css' rel='stylesheet' />
    <link href='../../../../../AdminLTE-master/plugins/fullcalendar-timegrid/main.css' rel='stylesheet' />
    <script src='../../../../../AdminLTE-master/plugins/fullcalendar/main.js'></script>
    <script src='../../../../../AdminLTE-master/plugins/fullcalendar-daygrid/main.js'></script>
    <script src="../../../../../../AdminLTE-master/plugins/fullcalendar-timegrid/main.js"></script>
    <link rel="stylesheet" href="../../../../../AdminLTE-master/css/custom-calendar.css">
    <link rel="stylesheet" href="../../../../css/stp-hour-readings-monthly.css">
    <link rel="stylesheet" href="../../../../css/clients-info.css">
    <title>Document</title>
</head>

<body> 
    <h2 id="client-heading" class="text-center mb-3">Клиент:</h2>
    <h2 id="date-heading" class="text-center">График за месец:</h2>
    
    <label class="switch red-border">
        <input class="switch-input" type="checkbox" checked />
        <span class="switch-label" data-on="Календар" data-off="Графики"></span>
        <span class="switch-handle"></span>
    </label>
    <div class="row calendar-daily">
        <div id="calendar">
        </div>
    </div>
    <div class="row chart-daily">
        <label class="switch ml-3 red-border">
            <input class="switch-input" type="checkbox" checked />
            <span class="switch-label" data-on="Линия" data-off="Бар"></span>
            <span class="switch-handle"></span>
        </label>
        <canvas id="daily-hour-prediction-chart" class="mb-5" width="1200" height="500"></canvas>
    </div>
    <script src="../../../../js/helper-functions/date-manipulations.js"></script>
    <script src="../../../../js/helper-functions/process-missing-calendar-date.js"></script> 
    <script src="../../../../js/helper-functions/find-get-parameter.js"></script>
    <script src="../../../../js/graphs/graphs-stp-hour-prediction-daily.js">
    </script>
</body>

</html>